.hero {
  padding: 100px 60px;
}

.cards-section {
  display: flex;
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: rgba(255, 255, 255, 0.05);
  padding: 20px;
  width: 30%;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}
